/*
Colors used::
black: #000000
blue: #223F61
orange: #E78C3B
tan: #D8D1BE
white: #FFFFFF
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.75em;
    font-weight: 700
}

h2,
h3,
h4 {
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-size: 2.25em;
    font-weight: 700
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #E78C3B;
    text-decoration: none;
}

a:visited {
    color: #D8D1BE;
}

a:hover,
a:focus {
    color: #E78C3B;
    text-decoration: underline;
}

a:active {
    color: #E78C3B
}


.button {
    display: inline-block;
    background-color: #E78C3B;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    padding-top: 12px;
    border-radius: 3px;
    border-bottom: 2px solid #D8D1BE;
    transition: 0.2s opacity;
}

.button:visited {
    color: #ffffff;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #ffffff;
}

.button.contact {
    background-color: transparent;
    color: #E78C3B;
    text-transform: uppercase;
    border: 2px solid #E78C3B;
    transition: 0.2s opacity;
    padding-top: 14px;
}

.button.contact:hover {
    background-color: #E78C3B;
    color: #ffffff;
}


header {
    background-color: #223F61;
    padding: 10px 0 4px;
    position: fixed; width: 100%;
     
	background: #223F61; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6)  ; 
	-webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6)  ; 
	-moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6)  ;  
}

main {
    padding-top: 110px;
}


/* layout styling */

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#my-work .row {
    padding: 0 0 25px 0;
    border-bottom:3px solid #D8D1BE;
}

#hero h1 {
    text-align: center;
    color: #ffffff;
}

.logo {
    max-width: 150px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #E78C3B;
}

nav > ul > li > a:visited {
    color: #E78C3B;
}

nav > ul > li > a:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #D8D1BE
}

nav > ul > li > a:active {
    color: #ffffff; 
}

#hero {
    background-color: #223F61;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#hero p {
    color: #ffffff; 
    text-align: center;
}

#about h1, h2 {
    text-align: center;
}

#contact {
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 20px;
}

/* new stuff, for javascript */

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 30px;
    padding-right: 0;
}

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}




/*media queries*/

@media only screen and (min-width: 640px) {
header {
    text-align: unset;
    padding:20px 0 13px;
    font-size: 18px;
}

nav {
    width: auto;
    float: right;
    margin-top: 25px; /*made px larger for larger logo*/
}

main {
    padding-top: 110px; /*made px larger for more space*/
}

body {
    font-size: 18px;
}

.col-md-6 {
    width: 50%;
}

#about h3 {
    margin-top: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul {
    margin: 1em 0;
}

.navtoggle li:not(:last-child) {
    display: inline-block;
}

.navtoggle li:last-child {
    display: none;
}

.navtoggle.responsive nav {
    padding: 0;
}

.navtoggle.responsive li {
    padding: 0;
    border-top: 0;
}

}


@media only screen and (min-width: 1024px) {

.col-lg-5{
    width: 40%;
}

.col-lg-7 {
    width: 60%;
}

.col-lg-12 {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


}


/*animation*/

.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {fill:#edc655;}
    50% {fill: #fcffad}
    100% {fill:#f76414;}
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px)}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear
}

@keyframes cloud-move-reverse {
    from {transform: translate(226px, 48px);}
    to {transform: translate(100px,48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

